/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_05.TodoList/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_06.Nicknames/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_11.SameDate/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_13.VehicleRegistry/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_14.DictionaryOfManyTranslations/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part08-Part08_15.StorageFacility/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_01.ABC/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_02.PersonAndSubclasses/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_03.Warehousing/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_04.DifferentKindsOfBoxes/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_05.TacoBoxes/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_06.InterfaceInABox/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_07.ListAsAMethodParameter/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_08.MapAsAMethodParameter/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_09.SetAsMethodParameter/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_10.OnlineShop/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_11.Herds/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part09-Part09_12.Animals/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_01.AverageOfNumbers/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_02.AverageOfSelectedNumbers/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_03.PositiveNumbers/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_04.Divisible/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_05.PrintingUserInput/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_06.LimitedNumbers/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_07.UniqueLastNames/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_11.WageOrder/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_12.StudentsOnAlphabeticalOrder/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_13.LiteracyComparison/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_14.Literature/target/
/Helsinki Code/Part 2/mooc-java-programming-ii/part10-Part10_15.RegularExpressions/target/
